body{
    background-color: hsl(268, 75%, 9%);
    color: hsl(52, 100%, 62%);
}
.calc{
    position: relative;
    width: 25%;
    margin-left: 36%;
    margin-top: 8%;
    margin-bottom: 5%;
}
.top {
    width: 100%;
    position: relative;
}
.top #calc{
    font-weight: 900;
    font-size: 20px;
    margin-right: 60%;
}
.top #theme{
    font-weight: 900;
    font-size: 12px;
}
.top #theme_op{
    font-size: 15px;
    position: absolute;
}
.top .b_nav{
    background-color: hsl(268, 71%, 12%);
    border-radius: 5px;
    padding-right: 5px;
}
.top .b_nav button{
    margin-left: 1%;
    padding: 0px;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    border-width: 0cm;
}
#theme3{
    background-color: hsl(176, 100%, 44%);
}
#theme1, #theme2{
    background-color: hsl(268, 71%, 12%);
}
.screen{
    background-color: hsl(268, 71%, 12%);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 8px;
}
.screen span{
    font-size: 30px;
    font-weight: 700;
    text-align: right;
}
.keypad{
    padding: 8px;
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
    border-radius: 10px;
}
.keypad .table>tbody>tr>td{
    border-top: 0ch;
    text-align: center;
}
.keypad .table>tbody>tr>td button{
    width: 100%;
    font-weight: 900;
    background-color: hsl(281, 89%, 26%);
}
.keypad .table>tbody>tr>td button:hover{
    background-color: hsl(285, 91%, 52%);
}
.keypad .table>tbody>tr>td #reset{
    background-color: hsl(268, 47%, 21%);
    color: white;
}
.keypad .table>tbody>tr>td #reset:hover{
    background-color: hsl(290, 70%, 36%);
}
.keypad .table>tbody>tr>td #equals{
    background-color: hsl(176, 100%, 44%);
    color: hsl(198, 20%, 13%);
}
.keypad .table>tbody>tr>td #equals:hover{
    background-color: hsl(290, 70%, 36%);
}
.keypad .table>tbody>tr>td #del{
    color: white;
    background-color: hsl(268, 47%, 21%);
}
.keypad .table>tbody>tr>td #del:hover{
    background-color: hsl(224, 28%, 35%);
}
@media screen and (max-width: 1024px) {
    .top #theme{
        margin-left: -40px;
    }
}

@media screen and (max-width: 768px) {
    .top #calc{
        margin-left: -25px;
        margin-right: 110px;
    }
    .top #theme{
        margin-right: 10px;
    }
    .top #theme_op{
        margin-top: -5px;
    }
    .screen, .keypad{
        margin-left: -50px;
        width: 300px;
    }
}
@media screen and (max-width: 376px) {
    .top #calc{
        margin-left: -60px;
        margin-right: 50px;
    }
    .top #theme{
        margin-right: 10px;
    }
    .screen, .keypad{
        margin-left: -90px;
    }
}
@media screen and (max-width: 321px) {
    .top{
        width: auto;
    }
    .top #calc{
        margin-left: -60px;
        margin-right: 40px;
    }
    .top #theme{
        margin-right: 10px;
    }
    .screen, .keypad{
        margin-left: -100px;
    }
}
